<h2 style="font-weight: bold;text-align: center;margin-top:1%;font-size: 38px;">Hello ReqRes Users!</h2>
<div class="container">
  <div class="card-deck row" style="margin-left:3.5rem;margin-right:3.5rem;">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card border-0">
        <div class="card-body" style="width: 250px;">
          <h2 class="card-title" style="margin-right: 40px;">George</h2>
          <p class="card-text" style="font-size: large;">george.bluth@reqres.in</p>
        </div>
        <img class="card-img-bottom" src="https://reqres.in/img/faces/1-image.jpg "  alt="Card image" style="width:100%">
      </div>
    </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card border-0">
        <div class="card-body" style="width: 250px;">
          <h2 class="card-title" style="margin-right:60px;">Janet</h2>
          <p class="card-text" style="font-size: large;">janet.weaver@reqres.in</p>
        </div>
        <img class="card-img-bottom" src="https://reqres.in/img/faces/2-image.jpg "  alt="Card image" style="width:100%">
      </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card border-0" >
      <div class="card-body" style="width: 250px;">
        <h2 class="card-title" style="margin-right: 60px;">Emma</h2>
        <p class="card-text" style="font-size: large;">emma.wong@reqres.in</p>
      </div>
      <img class="card-img-bottom" src="https://reqres.in/img/faces/3-image.jpg " alt="Card image" style="width:100%">
    </div>
  </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card border-0" >
        <div class="card-body">
          <h2 class="card-title">Eve</h2>
          <p class="card-text" style="font-size: large;">eve.holt@reqres.in</p>
        </div>
        <img class="card-img-bottom" src="https://reqres.in/img/faces/4-image.jpg "  alt="Card image" style="width:100%">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card border-0">
        <div class="card-body">
          <h2 class="card-title" style="font-size: 1.7rem;"></h2>
          <p class="card-text"></p>
        </div>
        <img class="card-img-bottom" src=""  alt="" style="width:100%">
      </div>
  </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card border-0">
        <div class="card-body" style="width: 250px;">
          <h2 class="card-title" style="margin-right: 60px;">Charles</h2>
          <p class="card-text" style="font-size: large;">charles.morris@reqres.in</p>
        </div>
        <img class="card-img-bottom" src="https://reqres.in/img/faces/5-image.jpg "  alt="Card image" style="width:100%">
      </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card border-0">
      <div class="card-body" style="width: 250px;">
        <h2 class="card-title" style="margin-right: 60px;">Tracey</h2>
        <p class="card-text" style="font-size: large;">tracey.ramos@reqres.in</p>
      </div>
      <img class="card-img-bottom" src="https://reqres.in/img/faces/6-image.jpg" alt="Card image" style="width:100%">
    </div>
</div>
 </div>
</div>



